/* Reset beberapa default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Umum */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #df7039;
}

header {
    background-color: #25316d;
    color: rgb(233, 120, 83);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: rgb(236, 230, 230);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5d4845;
}

/* Home Section */
#home {
    background-image: url('background.jpg');
    background-size: cover;
    color: rgb(253, 246, 246);
    text-align: center;
    padding: 5rem 0;
}

.home-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 1.2rem;
}

/* Menu Section */
#menu {
    text-align: center;
    padding: 3rem 0;
    background-color: #fff;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-item {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.menu-item h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.price {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #d97267;
}

/* About Section */
#about {
    padding: 3rem 0;
    text-align: center;
    background-color: #211780;
    color: #fff;
}

#contact {
    padding: 3rem 0;
    text-align: center;
}

#contact ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: rgb(248, 240, 240);
}
